.cartografia-title {
  width: 100%;
  text-align: center;
  display: block;
  margin: 0 auto;

  /* Opcional: estilos adicionales */
  font-size: 3.5rem;
  color: #010912; /* Color azul de Vuetify */
  padding: 16px 0;
}
